# Entendimento

In [244]:
#Bibliotecas
import pandas as pd
import numpy as np

In [245]:
#Carregando os dados
dados_classificacao = pd.read_csv('ingles_classificacao.csv')
dados_elenco = pd.read_csv('ingles_elencos.csv')

In [246]:
#Entendendo os dados
dados_classificacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   posicao          380 non-null    int64
 1   link             380 non-null    object
 2   time             380 non-null    object
 3   jogos            380 non-null    int64
 4   vitorias         380 non-null    int64
 5   empates          380 non-null    int64
 6   derrotas         380 non-null    int64
 7   golsFavor        380 non-null    int64
 8   golsContra       380 non-null    int64
 9   diferencaGols    380 non-null    int64
 10  pts              380 non-null    int64
 11  ano              380 non-null    int64
 12  mediaGolsFavor   380 non-null    float64
 13  mediaGolsContra  380 non-null    float64
dtypes: float64(2), int64(10), object(2)
memory usage: 41.7+ KB

In [247]:
dados_classificacao.describe()

,posicao,jogos,vitorias,empates,derrotas,golsFavor,golsContra,diferencaGols,pts,ano,mediaGolsFavor,mediaGolsContra
count,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000
mean,10.500000,37.284211,13.984211,9.315789,13.984211,49.992105,49.992105,0.000000,51.244737,2012.000000,1.341459,1.342135
std,5.773884,3.052446,6.122303,2.957083,5.654033,16.064265,13.597976,25.954598,17.642614,5.484447,0.418924,0.352713
min,1.000000,22.000000,1.000000,2.000000,0.000000,15.000000,15.000000,-69.000000,11.000000,2003.000000,0.526316,0.394737
25%,5.750000,38.000000,10.000000,7.000000,10.000000,39.000000,41.000000,-19.000000,39.000000,2007.000000,1.052632,1.098684
50%,10.500000,38.000000,12.000000,9.000000,15.000000,47.000000,51.000000,-6.000000,47.000000,2012.000000,1.236842,1.342105
75%,15.250000,38.000000,18.000000,11.000000,18.000000,59.000000,59.000000,16.000000,63.000000,2017.000000,1.578947,1.559211
max,20.000000,38.000000,32.000000,17.000000,29.000000,106.000000,89.000000,79.000000,100.000000,2021.000000,2.789474,2.342105

In [248]:
dados_classificacao.tail()

,posicao,link,time,jogos,vitorias,empates,derrotas,golsFavor,golsContra,diferencaGols,pts,ano,mediaGolsFavor,mediaGolsContra
375,16,/futebol/time/_/id/368/everton,EVERTON,23,6,4,13,28,40,-12,22,2021,1.217391,1.739130
376,17,/futebol/time/_/id/361/newcastle-united,NEWCASTLE UNITED,24,4,10,10,26,45,-19,22,2021,1.083333,1.875000
377,18,/futebol/time/_/id/395/watford,WATFORD,24,5,3,16,24,43,-19,18,2021,1.000000,1.791667
378,19,/futebol/time/_/id/379/burnley,BURNLEY,22,2,11,9,20,29,-9,17,2021,0.909091,1.318182
379,20,/futebol/time/_/id/381/norwich-city,NORWICH CITY,25,4,5,16,15,53,-38,17,2021,0.600000,2.120000

In [249]:
dados_classificacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   posicao          380 non-null    int64
 1   link             380 non-null    object
 2   time             380 non-null    object
 3   jogos            380 non-null    int64
 4   vitorias         380 non-null    int64
 5   empates          380 non-null    int64
 6   derrotas         380 non-null    int64
 7   golsFavor        380 non-null    int64
 8   golsContra       380 non-null    int64
 9   diferencaGols    380 non-null    int64
 10  pts              380 non-null    int64
 11  ano              380 non-null    int64
 12  mediaGolsFavor   380 non-null    float64
 13  mediaGolsContra  380 non-null    float64
dtypes: float64(2), int64(10), object(2)
memory usage: 41.7+ KB

In [250]:
dados_elenco.describe()

                ANO
count  12047.000000
mean    2012.024902
std        5.389283
min     2003.000000
25%     2008.000000
50%     2012.000000
75%     2017.000000
max     2021.000000

In [251]:
dados_elenco.tail()

,NOME,POS,IDADE,ALT,POSICAO,NACIONALIDADE,JOGOS,SUBSTITUICAO,DEFESAS,GOLSOFRIDOS,ASSISTENCIAS,FALTASCOMETIDAS,FALTASOFRIDAS,CARTAOAMARELO,CARTAOVERMELHO,GOLS,TIME,ANO,FINALIZACOES,CHUTESGOL
12042,Kenny McLean23,M,29,1.83 m,68 kg,Escócia,10,1,NaN,NaN,0,1,12,1,0,0,/futebol/time/_/id/381/norwich-city,2021,13,3
12043,Christos Tzolis18,A,19,--,--,Grécia,4,3,NaN,NaN,0,1,1,0,0,0,/futebol/time/_/id/381/norwich-city,2021,0,0
12044,Teemu Pukki22,A,31,1.8 m,73 kg,Finlândia,11,0,NaN,NaN,0,7,14,1,0,3,/futebol/time/_/id/381/norwich-city,2021,16,5
12045,Joshua Sargent24,A,21,1.85 m,78 kg,Estados Unidos,10,4,NaN,NaN,0,3,12,0,0,0,/futebol/time/_/id/381/norwich-city,2021,7,0
12046,Adam Idah35,A,20,1.91 m,83 kg,Irlanda,8,8,NaN,NaN,0,0,1,0,0,0,/futebol/time/_/id/381/norwich-city,2021,2,1

In [252]:
dados_elenco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12047 entries, 0 to 12046
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   NOME             12047 non-null  object
 1   POS              12047 non-null  object
 2   IDADE            12047 non-null  object
 3   ALT              12047 non-null  object
 4   POSICAO          12047 non-null  object
 5   NACIONALIDADE    12047 non-null  object
 6   JOGOS            12047 non-null  object
 7   SUBSTITUICAO     12047 non-null  object
 8   DEFESAS          1364 non-null   object
 9   GOLSOFRIDOS      1364 non-null   object
 10  ASSISTENCIAS     12047 non-null  object
 11  FALTASCOMETIDAS  12047 non-null  object
 12  FALTASOFRIDAS    12047 non-null  object
 13  CARTAOAMARELO    12047 non-null  object
 14  CARTAOVERMELHO   12047 non-null  object
 15  GOLS             10683 non-null  object
 16  TIME             12047 non-null  object
 17  ANO              12047 non-null  int64
 18  FINALIZACOES     10683 non-null  object
 19  CHUTESGOL        10683 non-null  object
dtypes: int64(1), object(19)
memory usage: 1.8+ MB

In [253]:
#Verificando os nomes das equipas
dados_classificacao.time.unique()

array(['ARSENAL', 'CHELSEA', 'MANCHESTER UNITED', 'LIVERPOOL',
       'NEWCASTLE UNITED', 'ASTON VILLA', 'CHARLTON ATHLETIC',
       'BOLTON WANDERERS', 'FULHAM', 'BIRMINGHAM CITY', 'MIDDLESBROUGH',
       'SOUTHAMPTON', 'PORTSMOUTH', 'TOTTENHAM HOTSPUR',
       'BLACKBURN ROVERS', 'MANCHESTER CITY', 'EVERTON', 'LEICESTER CITY',
       'LEEDS UNITED', 'WOLVERHAMPTON WANDERERS', 'WEST BROMWICH ALBION',
       'CRYSTAL PALACE', 'NORWICH CITY', 'WEST HAM UNITED',
       'WIGAN ATHLETIC', 'SUNDERLAND', 'READING', 'SHEFFIELD UNITED',
       'WATFORD', 'DERBY COUNTY', 'STOKE CITY', 'HULL CITY', 'BURNLEY',
       'BLACKPOOL', 'SWANSEA CITY', 'QUEENS PARK RANGERS', 'CARDIFF CITY',
       'AFC BOURNEMOUTH', 'BRIGHTON & HOVE ALBION', 'HUDDERSFIELD TOWN',
       'BRENTFORD'], dtype=object)

In [254]:
#Padronizando os nomes das equipas para minuscula
dados_classificacao['time'] = dados_classificacao['time'].str.lower() 
dados_classificacao.time.unique()

array(['arsenal', 'chelsea', 'manchester united', 'liverpool',
       'newcastle united', 'aston villa', 'charlton athletic',
       'bolton wanderers', 'fulham', 'birmingham city', 'middlesbrough',
       'southampton', 'portsmouth', 'tottenham hotspur',
       'blackburn rovers', 'manchester city', 'everton', 'leicester city',
       'leeds united', 'wolverhampton wanderers', 'west bromwich albion',
       'crystal palace', 'norwich city', 'west ham united',
       'wigan athletic', 'sunderland', 'reading', 'sheffield united',
       'watford', 'derby county', 'stoke city', 'hull city', 'burnley',
       'blackpool', 'swansea city', 'queens park rangers', 'cardiff city',
       'afc bournemouth', 'brighton & hove albion', 'huddersfield town',
       'brentford'], dtype=object)

In [255]:
#Retirar acentos nos nomes das equipas
#dados_classificacao['time'] = dados_classificacao['time'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

#Retirando qualquer pontuação nos nomes das equipas
dados_classificacao['time'] = dados_classificacao['time'].str.replace('[^\w\s]','',regex=True)

<>:5: SyntaxWarning: invalid escape sequence '\w'
<>:5: SyntaxWarning: invalid escape sequence '\w'
C:\Users\Elvis\AppData\Local\Temp\ipykernel_16960\1950647091.py:5: SyntaxWarning: invalid escape sequence '\w'
  dados_classificacao['time'] = dados_classificacao['time'].str.replace('[^\w\s]','',regex=True)

In [256]:
dados_classificacao.time.unique()

array(['arsenal', 'chelsea', 'manchester united', 'liverpool',
       'newcastle united', 'aston villa', 'charlton athletic',
       'bolton wanderers', 'fulham', 'birmingham city', 'middlesbrough',
       'southampton', 'portsmouth', 'tottenham hotspur',
       'blackburn rovers', 'manchester city', 'everton', 'leicester city',
       'leeds united', 'wolverhampton wanderers', 'west bromwich albion',
       'crystal palace', 'norwich city', 'west ham united',
       'wigan athletic', 'sunderland', 'reading', 'sheffield united',
       'watford', 'derby county', 'stoke city', 'hull city', 'burnley',
       'blackpool', 'swansea city', 'queens park rangers', 'cardiff city',
       'afc bournemouth', 'brighton  hove albion', 'huddersfield town',
       'brentford'], dtype=object)

In [257]:
#Retirando os espaços em brancos duplicados
#dados_classificacao['time'] = dados_classificacao['time'].str.replace(' ','',regex=True)

dados_classificacao.time=dados_classificacao.time.replace("\\s+"," ",regex=True)

In [258]:
dados_classificacao.time.unique()

array(['arsenal', 'chelsea', 'manchester united', 'liverpool',
       'newcastle united', 'aston villa', 'charlton athletic',
       'bolton wanderers', 'fulham', 'birmingham city', 'middlesbrough',
       'southampton', 'portsmouth', 'tottenham hotspur',
       'blackburn rovers', 'manchester city', 'everton', 'leicester city',
       'leeds united', 'wolverhampton wanderers', 'west bromwich albion',
       'crystal palace', 'norwich city', 'west ham united',
       'wigan athletic', 'sunderland', 'reading', 'sheffield united',
       'watford', 'derby county', 'stoke city', 'hull city', 'burnley',
       'blackpool', 'swansea city', 'queens park rangers', 'cardiff city',
       'afc bournemouth', 'brighton hove albion', 'huddersfield town',
       'brentford'], dtype=object)

# Preparando o DataSet Elencos

In [259]:
#Dividindo o texto com base no /
dados_elenco.TIME.unique()

array(['/futebol/time/_/id/359/arsenal', '/futebol/time/_/id/363/chelsea',
       '/futebol/time/_/id/360/manchester-united',
       '/futebol/time/_/id/364/liverpool',
       '/futebol/time/_/id/361/newcastle-united',
       '/futebol/time/_/id/362/aston-villa',
       '/futebol/time/_/id/372/charlton-athletic',
       '/futebol/time/_/id/358/bolton-wanderers',
       '/futebol/time/_/id/370/fulham',
       '/futebol/time/_/id/392/birmingham-city',
       '/futebol/time/_/id/369/middlesbrough',
       '/futebol/time/_/id/376/southampton',
       '/futebol/time/_/id/385/portsmouth',
       '/futebol/time/_/id/367/tottenham-hotspur',
       '/futebol/time/_/id/365/blackburn-rovers',
       '/futebol/time/_/id/382/manchester-city',
       '/futebol/time/_/id/368/everton',
       '/futebol/time/_/id/375/leicester-city',
       '/futebol/time/_/id/357/leeds-united',
       '/futebol/time/_/id/380/wolverhampton-wanderers',
       '/futebol/time/_/id/383/west-bromwich-albion',
       '/futebol/time/_/id/384/crystal-palace',
       '/futebol/time/_/id/381/norwich-city',
       '/futebol/time/_/id/371/west-ham-united',
       '/futebol/time/_/id/350/wigan-athletic',
       '/futebol/time/_/id/366/sunderland',
       '/futebol/time/_/id/338/reading',
       '/futebol/time/_/id/398/sheffield-united',
       '/futebol/time/_/id/395/watford',
       '/futebol/time/_/id/374/derby-county',
       '/futebol/time/_/id/336/stoke-city',
       '/futebol/time/_/id/306/hull-city',
       '/futebol/time/_/id/379/burnley',
       '/futebol/time/_/id/346/blackpool',
       '/futebol/time/_/id/318/swansea-city',
       '/futebol/time/_/id/334/queens-park-rangers',
       '/futebol/time/_/id/347/cardiff-city',
       '/futebol/time/_/id/349/afc-bournemouth',
       '/futebol/time/_/id/331/brighton-hove-albion',
       '/futebol/time/_/id/335/huddersfield-town',
       '/futebol/time/_/id/337/brentford'], dtype=object)

In [260]:
#Dividindo o texto com base no /
print(dados_elenco.TIME[45].split("/"))
print(dados_elenco.TIME[45].split("/")[6])

['', 'futebol', 'time', '_', 'id', '363', 'chelsea']
chelsea

In [261]:
#Aplicando a divisão a todos os elementos
dados_elenco.TIME = dados_elenco.TIME.apply(lambda x: x.split("/")[6])

#Retirando qualquer pontuação nos nomes das equipas
dados_elenco.TIME = dados_elenco.TIME.replace('[^\w\s]',' ',regex=True)

#Retirando espaços em branco duplicados
dados_elenco.TIME = dados_elenco.TIME.replace("\\s+"," ",regex=True)

dados_elenco.TIME.unique()

<>:5: SyntaxWarning: invalid escape sequence '\w'
<>:5: SyntaxWarning: invalid escape sequence '\w'
C:\Users\Elvis\AppData\Local\Temp\ipykernel_16960\1974098970.py:5: SyntaxWarning: invalid escape sequence '\w'
  dados_elenco.TIME = dados_elenco.TIME.replace('[^\w\s]',' ',regex=True)

array(['arsenal', 'chelsea', 'manchester united', 'liverpool',
       'newcastle united', 'aston villa', 'charlton athletic',
       'bolton wanderers', 'fulham', 'birmingham city', 'middlesbrough',
       'southampton', 'portsmouth', 'tottenham hotspur',
       'blackburn rovers', 'manchester city', 'everton', 'leicester city',
       'leeds united', 'wolverhampton wanderers', 'west bromwich albion',
       'crystal palace', 'norwich city', 'west ham united',
       'wigan athletic', 'sunderland', 'reading', 'sheffield united',
       'watford', 'derby county', 'stoke city', 'hull city', 'burnley',
       'blackpool', 'swansea city', 'queens park rangers', 'cardiff city',
       'afc bournemouth', 'brighton hove albion', 'huddersfield town',
       'brentford'], dtype=object)

In [262]:
print(dados_elenco.IDADE.unique())
pd.to_numeric(dados_elenco.IDADE, errors='coerce')

['44' '35' '51' '40' '38' '47' '36' '37' '45' '48' '43' '34' '52' '49'
 '53' '41' '46' '39' '42' '19' '50' '21' '28' '23' '54' '60' '25' '55'
 '26' '33' '30' '113' '--' '29' '32' '31' '27' '20' '24' '18' '22' '17']

0        44.0
1        35.0
2        51.0
3        40.0
4        38.0
         ...
12042    29.0
12043    19.0
12044    31.0
12045    21.0
12046    20.0
Name: IDADE, Length: 12047, dtype: float64

In [263]:
dados_elenco.head()
#Retirar a letra m no valor do atributo ALT
dados_elenco.ALT = dados_elenco.ALT.str.replace('m','',regex=True)

#Retirar a letra kg no valor do atributo PESO
dados_elenco.POSICAO = dados_elenco.POSICAO.str.replace('kg','',regex=True)

dados_elenco.head()

,NOME,POS,IDADE,ALT,POSICAO,NACIONALIDADE,JOGOS,SUBSTITUICAO,DEFESAS,GOLSOFRIDOS,ASSISTENCIAS,FALTASCOMETIDAS,FALTASOFRIDAS,CARTAOAMARELO,CARTAOVERMELHO,GOLS,TIME,ANO,FINALIZACOES,CHUTESGOL
0,Manuel Almunia,G,44,1.91,86,Espanha,--,--,--,--,--,--,--,--,--,NaN,arsenal,2003,NaN,NaN
1,Mark Howard,G,35,1.83,76,Inglaterra,--,--,--,--,--,--,--,--,--,NaN,arsenal,2003,NaN,NaN
2,Jens Lehmann1,G,51,1.91,87,Alemanha,38,0,224,0,0,2,16,2,0,NaN,arsenal,2003,NaN,NaN
3,Stuart Taylor13,G,40,1.96,79,Inglaterra,--,--,--,--,--,--,--,--,--,NaN,arsenal,2003,NaN,NaN
4,Ryan Garry,D,38,1.88,82,Inglaterra,--,--,NaN,NaN,--,--,--,--,--,--,arsenal,2003,--,--

In [264]:
#Adicionar todas os atributos que seriam numericos numa lista
colunas_numericas = [ 'IDADE','ALT', 'POSICAO', 'JOGOS',
       'SUBSTITUICAO', 'DEFESAS', 'GOLSOFRIDOS', 'ASSISTENCIAS',
       'FALTASCOMETIDAS', 'FALTASOFRIDAS', 'CARTAOAMARELO', 'CARTAOVERMELHO',
       'GOLS','FINALIZACOES', 'CHUTESGOL']

#Vamos transformar os dados em numericos da lista colunas_numericas

for coluna in colunas_numericas:
    print (coluna)
    dados_elenco[coluna]= dados_elenco[coluna].str.replace("[a-zA-Z]", "")
    dados_elenco[coluna] = pd.to_numeric(dados_elenco[coluna], errors='coerce')

IDADE
ALT
POSICAO
JOGOS
SUBSTITUICAO
DEFESAS
GOLSOFRIDOS
ASSISTENCIAS
FALTASCOMETIDAS
FALTASOFRIDAS
CARTAOAMARELO
CARTAOVERMELHO
GOLS
FINALIZACOES
CHUTESGOL

In [265]:
dados_elenco.head()

,NOME,POS,IDADE,ALT,POSICAO,NACIONALIDADE,JOGOS,SUBSTITUICAO,DEFESAS,GOLSOFRIDOS,ASSISTENCIAS,FALTASCOMETIDAS,FALTASOFRIDAS,CARTAOAMARELO,CARTAOVERMELHO,GOLS,TIME,ANO,FINALIZACOES,CHUTESGOL
0,Manuel Almunia,G,44.0,1.91,86.0,Espanha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,arsenal,2003,NaN,NaN
1,Mark Howard,G,35.0,1.83,76.0,Inglaterra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,arsenal,2003,NaN,NaN
2,Jens Lehmann1,G,51.0,1.91,87.0,Alemanha,38.0,0.0,224.0,0.0,0.0,2.0,16.0,2.0,0.0,NaN,arsenal,2003,NaN,NaN
3,Stuart Taylor13,G,40.0,1.96,79.0,Inglaterra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,arsenal,2003,NaN,NaN
4,Ryan Garry,D,38.0,1.88,82.0,Inglaterra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,arsenal,2003,NaN,NaN

In [266]:
dados_elenco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12047 entries, 0 to 12046
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   NOME             12047 non-null  object
 1   POS              12047 non-null  object
 2   IDADE            12016 non-null  float64
 3   ALT              11664 non-null  float64
 4   POSICAO          11514 non-null  float64
 5   NACIONALIDADE    12047 non-null  object
 6   JOGOS            9943 non-null   float64
 7   SUBSTITUICAO     9943 non-null   float64
 8   DEFESAS          1090 non-null   float64
 9   GOLSOFRIDOS      1090 non-null   float64
 10  ASSISTENCIAS     9943 non-null   float64
 11  FALTASCOMETIDAS  9943 non-null   float64
 12  FALTASOFRIDAS    9943 non-null   float64
 13  CARTAOAMARELO    9943 non-null   float64
 14  CARTAOVERMELHO   9943 non-null   float64
 15  GOLS             8853 non-null   float64
 16  TIME             12047 non-null  object
 17  ANO              12047 non-null  int64
 18  FINALIZACOES     8853 non-null   float64
 19  CHUTESGOL        8853 non-null   float64
dtypes: float64(15), int64(1), object(4)
memory usage: 1.8+ MB

In [267]:
#Selecionando atributos de interesse
dados_elenco_select=dados_elenco[['NOME', 'POS', 'IDADE', 'ALT','POSICAO', 'NACIONALIDADE','TIME','ANO']]
dados_elenco_select.head()

              NOME POS  IDADE   ALT  POSICAO NACIONALIDADE     TIME   ANO
0   Manuel Almunia   G   44.0  1.91     86.0       Espanha  arsenal  2003
1      Mark Howard   G   35.0  1.83     76.0    Inglaterra  arsenal  2003
2    Jens Lehmann1   G   51.0  1.91     87.0      Alemanha  arsenal  2003
3  Stuart Taylor13   G   40.0  1.96     79.0    Inglaterra  arsenal  2003
4       Ryan Garry   D   38.0  1.88     82.0    Inglaterra  arsenal  2003

Vamos dar um merge nos dados

In [268]:
#Vamos juntar as duas tabelas
dados_elenco_merge= dados_elenco_select.merge(dados_classificacao[['time','posicao','ano']],
                                              left_on=['TIME','ANO'], right_on=['time','ano'],
                                              how='inner').drop(columns=['time','ano'])

dados_elenco_merge.tail()

,NOME,POS,IDADE,ALT,POSICAO,NACIONALIDADE,TIME,ANO,posicao
12042,Kenny McLean23,M,29.0,1.83,68.0,Escócia,norwich city,2021,20
12043,Christos Tzolis18,A,19.0,NaN,NaN,Grécia,norwich city,2021,20
12044,Teemu Pukki22,A,31.0,1.80,73.0,Finlândia,norwich city,2021,20
12045,Joshua Sargent24,A,21.0,1.85,78.0,Estados Unidos,norwich city,2021,20
12046,Adam Idah35,A,20.0,1.91,83.0,Irlanda,norwich city,2021,20

In [269]:
dados_elenco_merge.rename(columns={'POS':"posicao_jogador", 'ALT':"altura_jogador", 'POSICAO':"peso_jogador", 'posicao':"classificacao_time"}, inplace=True)

In [270]:
dados_elenco_merge.head()

,NOME,posicao_jogador,IDADE,altura_jogador,peso_jogador,NACIONALIDADE,TIME,ANO,classificacao_time
0,Manuel Almunia,G,44.0,1.91,86.0,Espanha,arsenal,2003,1
1,Mark Howard,G,35.0,1.83,76.0,Inglaterra,arsenal,2003,1
2,Jens Lehmann1,G,51.0,1.91,87.0,Alemanha,arsenal,2003,1
3,Stuart Taylor13,G,40.0,1.96,79.0,Inglaterra,arsenal,2003,1
4,Ryan Garry,D,38.0,1.88,82.0,Inglaterra,arsenal,2003,1

In [271]:
#Padronizando os nomes das colunas para minuscula
dados_elenco_merge.columns = dados_elenco_merge.columns.str.lower()

dados_elenco_merge.head()

,nome,posicao_jogador,idade,altura_jogador,peso_jogador,nacionalidade,time,ano,classificacao_time
0,Manuel Almunia,G,44.0,1.91,86.0,Espanha,arsenal,2003,1
1,Mark Howard,G,35.0,1.83,76.0,Inglaterra,arsenal,2003,1
2,Jens Lehmann1,G,51.0,1.91,87.0,Alemanha,arsenal,2003,1
3,Stuart Taylor13,G,40.0,1.96,79.0,Inglaterra,arsenal,2003,1
4,Ryan Garry,D,38.0,1.88,82.0,Inglaterra,arsenal,2003,1