In [2]:
#Bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

In [3]:
#Importando os dados
media_classificacao_time = pd.read_csv('media_final.csv')

In [4]:
media_classificacao_time.head()

,ano,classificacao_time2,idade,altura_jogador,peso_jogador,qtd_jogadores,pct_estrangeiro
0,2003,0,40.976190,1.818743,76.018072,168,63.095238
1,2003,2,42.301370,1.812329,76.712329,73,54.810496
2,2004,2,41.602410,1.820952,76.904762,84,47.945205
3,2005,0,39.031250,1.827250,76.925000,160,65.662651
4,2005,2,39.295775,1.824366,77.070423,71,56.176471

# Modelagem

In [9]:
#Dividindo os dados em treino e teste
X = media_classificacao_time.drop(columns=['ano','classificacao_time2'])
y = media_classificacao_time['classificacao_time2']

X_treino, X_teste, y_treino, y_teste = train_test_split(X, y, test_size=0.3, random_state=42)

In [10]:
print("QTD LINHAS:", len(X_treino))
X_treino.head()

QTD LINHAS: 20

        idade  altura_jogador  peso_jogador  qtd_jogadores  pct_estrangeiro
13  34.510870        1.832717     77.456522             92        60.638298
15  32.707602        1.827778     76.198830            171        65.402844
11  35.877049        1.822479     75.851240            127        45.161290
17  31.957983        1.824774     76.178470            357        54.347826
1   42.301370        1.812329     76.712329             73        54.810496

In [11]:
print("QTD LINHAS:", len(y_treino))
y_treino.head()

QTD LINHAS: 20

13    2
15    0
11    2
17    1
1     2
Name: classificacao_time2, dtype: int64

In [12]:
print("QTD LINHAS:", len(X_teste))
X_teste.head()

QTD LINHAS: 9

        idade  altura_jogador  peso_jogador  qtd_jogadores  pct_estrangeiro
27  25.537975        1.829627     75.852713            158        62.576687
16  33.132743        1.820088     75.477876            113        58.139535
12  34.022599        1.819659     75.880682            177        66.257669
22  30.306818        1.839318     78.395349             88        58.474576
8   36.282609        1.831848     75.619565             92        43.661972

In [14]:
#Normalizando os dados
scaler = MinMaxScaler()
X_treino = scaler.fit_transform(X_treino)
X_teste = scaler.transform(X_teste)

In [18]:
#Treinando o modelo de regressão logística
#Treinando o modelo
modelo_LR = LogisticRegression(random_state=0)
modelo_LR.fit(X_treino, y_treino)
#Avaliando o modelo
modelo_LR.score(X_teste, y_teste)*100

55.55555555555556

In [21]:
#Treinando o modelo
modelo_DT = DecisionTreeClassifier(random_state=0)
modelo_DT.fit(X_treino, y_treino)

#Avaliando o modelo
modelo_DT.score(X_teste, y_teste)

1.0

In [ ]:






#Treinando o modelo
modelo = RandomForestClassifier()
modelo.fit(X_treino, y_treino)

#Avaliando o modelo
modelo.score(X_teste, y_teste)

#Treinando o modelo
modelo = GradientBoostingClassifier()
modelo.fit(X_treino, y_treino)

#Avaliando o modelo
modelo.score(X_teste, y_teste)