In [2]:
#Bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

In [3]:
#Importando os dados
media_classificacao_time = pd.read_csv('media_final.csv')

In [4]:
media_classificacao_time.head()

,ano,classificacao_time2,idade,altura_jogador,peso_jogador,qtd_jogadores,pct_estrangeiro
0,2003,0,40.976190,1.818743,76.018072,168,63.095238
1,2003,2,42.301370,1.812329,76.712329,73,54.810496
2,2004,2,41.602410,1.820952,76.904762,84,47.945205
3,2005,0,39.031250,1.827250,76.925000,160,65.662651
4,2005,2,39.295775,1.824366,77.070423,71,56.176471

# Modelagem

In [5]:
#Dividindo os dados em treino e teste
X = media_classificacao_time.drop(columns=['ano','classificacao_time2'])
y = media_classificacao_time['classificacao_time2']

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)