# Entendimento

In [1]:
#Bibliotecas
import pandas as pd
import numpy as np

In [3]:
#Carregando os dados
dados_classificacao = pd.read_csv('ingles_classificacao.csv')
dados_elenco = pd.read_csv('ingles_elencos.csv')

In [5]:
#Entendendo os dados
dados_classificacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   posicao          380 non-null    int64
 1   link             380 non-null    object
 2   time             380 non-null    object
 3   jogos            380 non-null    int64
 4   vitorias         380 non-null    int64
 5   empates          380 non-null    int64
 6   derrotas         380 non-null    int64
 7   golsFavor        380 non-null    int64
 8   golsContra       380 non-null    int64
 9   diferencaGols    380 non-null    int64
 10  pts              380 non-null    int64
 11  ano              380 non-null    int64
 12  mediaGolsFavor   380 non-null    float64
 13  mediaGolsContra  380 non-null    float64
dtypes: float64(2), int64(10), object(2)
memory usage: 41.7+ KB

In [28]:
dados_classificacao.describe()

,posicao,jogos,vitorias,empates,derrotas,golsFavor,golsContra,diferencaGols,pts,ano,mediaGolsFavor,mediaGolsContra
count,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000
mean,10.500000,37.284211,13.984211,9.315789,13.984211,49.992105,49.992105,0.000000,51.244737,2012.000000,1.341459,1.342135
std,5.773884,3.052446,6.122303,2.957083,5.654033,16.064265,13.597976,25.954598,17.642614,5.484447,0.418924,0.352713
min,1.000000,22.000000,1.000000,2.000000,0.000000,15.000000,15.000000,-69.000000,11.000000,2003.000000,0.526316,0.394737
25%,5.750000,38.000000,10.000000,7.000000,10.000000,39.000000,41.000000,-19.000000,39.000000,2007.000000,1.052632,1.098684
50%,10.500000,38.000000,12.000000,9.000000,15.000000,47.000000,51.000000,-6.000000,47.000000,2012.000000,1.236842,1.342105
75%,15.250000,38.000000,18.000000,11.000000,18.000000,59.000000,59.000000,16.000000,63.000000,2017.000000,1.578947,1.559211
max,20.000000,38.000000,32.000000,17.000000,29.000000,106.000000,89.000000,79.000000,100.000000,2021.000000,2.789474,2.342105

In [29]:
dados_classificacao.tail()

,posicao,link,time,jogos,vitorias,empates,derrotas,golsFavor,golsContra,diferencaGols,pts,ano,mediaGolsFavor,mediaGolsContra
375,16,/futebol/time/_/id/368/everton,EVERTON,23,6,4,13,28,40,-12,22,2021,1.217391,1.739130
376,17,/futebol/time/_/id/361/newcastle-united,NEWCASTLE UNITED,24,4,10,10,26,45,-19,22,2021,1.083333,1.875000
377,18,/futebol/time/_/id/395/watford,WATFORD,24,5,3,16,24,43,-19,18,2021,1.000000,1.791667
378,19,/futebol/time/_/id/379/burnley,BURNLEY,22,2,11,9,20,29,-9,17,2021,0.909091,1.318182
379,20,/futebol/time/_/id/381/norwich-city,NORWICH CITY,25,4,5,16,15,53,-38,17,2021,0.600000,2.120000

In [24]:
dados_classificacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   posicao          380 non-null    int64
 1   link             380 non-null    object
 2   time             380 non-null    object
 3   jogos            380 non-null    int64
 4   vitorias         380 non-null    int64
 5   empates          380 non-null    int64
 6   derrotas         380 non-null    int64
 7   golsFavor        380 non-null    int64
 8   golsContra       380 non-null    int64
 9   diferencaGols    380 non-null    int64
 10  pts              380 non-null    int64
 11  ano              380 non-null    int64
 12  mediaGolsFavor   380 non-null    float64
 13  mediaGolsContra  380 non-null    float64
dtypes: float64(2), int64(10), object(2)
memory usage: 41.7+ KB

In [26]:
dados_elenco.describe()

                ANO
count  12047.000000
mean    2012.024902
std        5.389283
min     2003.000000
25%     2008.000000
50%     2012.000000
75%     2017.000000
max     2021.000000

In [32]:
dados_elenco.tail()

,NOME,POS,IDADE,ALT,POSICAO,NACIONALIDADE,JOGOS,SUBSTITUICAO,DEFESAS,GOLSOFRIDOS,ASSISTENCIAS,FALTASCOMETIDAS,FALTASOFRIDAS,CARTAOAMARELO,CARTAOVERMELHO,GOLS,TIME,ANO,FINALIZACOES,CHUTESGOL
12042,Kenny McLean23,M,29,1.83 m,68 kg,Escócia,10,1,NaN,NaN,0,1,12,1,0,0,/futebol/time/_/id/381/norwich-city,2021,13,3
12043,Christos Tzolis18,A,19,--,--,Grécia,4,3,NaN,NaN,0,1,1,0,0,0,/futebol/time/_/id/381/norwich-city,2021,0,0
12044,Teemu Pukki22,A,31,1.8 m,73 kg,Finlândia,11,0,NaN,NaN,0,7,14,1,0,3,/futebol/time/_/id/381/norwich-city,2021,16,5
12045,Joshua Sargent24,A,21,1.85 m,78 kg,Estados Unidos,10,4,NaN,NaN,0,3,12,0,0,0,/futebol/time/_/id/381/norwich-city,2021,7,0
12046,Adam Idah35,A,20,1.91 m,83 kg,Irlanda,8,8,NaN,NaN,0,0,1,0,0,0,/futebol/time/_/id/381/norwich-city,2021,2,1

In [31]:
dados_elenco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12047 entries, 0 to 12046
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   NOME             12047 non-null  object
 1   POS              12047 non-null  object
 2   IDADE            12047 non-null  object
 3   ALT              12047 non-null  object
 4   POSICAO          12047 non-null  object
 5   NACIONALIDADE    12047 non-null  object
 6   JOGOS            12047 non-null  object
 7   SUBSTITUICAO     12047 non-null  object
 8   DEFESAS          1364 non-null   object
 9   GOLSOFRIDOS      1364 non-null   object
 10  ASSISTENCIAS     12047 non-null  object
 11  FALTASCOMETIDAS  12047 non-null  object
 12  FALTASOFRIDAS    12047 non-null  object
 13  CARTAOAMARELO    12047 non-null  object
 14  CARTAOVERMELHO   12047 non-null  object
 15  GOLS             10683 non-null  object
 16  TIME             12047 non-null  object
 17  ANO              12047 non-null  int64
 18  FINALIZACOES     10683 non-null  object
 19  CHUTESGOL        10683 non-null  object
dtypes: int64(1), object(19)
memory usage: 1.8+ MB

In [35]:
#Verificando os nomes das equipas
dados_classificacao.time.unique()

array(['ARSENAL', 'CHELSEA', 'MANCHESTER UNITED', 'LIVERPOOL',
       'NEWCASTLE UNITED', 'ASTON VILLA', 'CHARLTON ATHLETIC',
       'BOLTON WANDERERS', 'FULHAM', 'BIRMINGHAM CITY', 'MIDDLESBROUGH',
       'SOUTHAMPTON', 'PORTSMOUTH', 'TOTTENHAM HOTSPUR',
       'BLACKBURN ROVERS', 'MANCHESTER CITY', 'EVERTON', 'LEICESTER CITY',
       'LEEDS UNITED', 'WOLVERHAMPTON WANDERERS', 'WEST BROMWICH ALBION',
       'CRYSTAL PALACE', 'NORWICH CITY', 'WEST HAM UNITED',
       'WIGAN ATHLETIC', 'SUNDERLAND', 'READING', 'SHEFFIELD UNITED',
       'WATFORD', 'DERBY COUNTY', 'STOKE CITY', 'HULL CITY', 'BURNLEY',
       'BLACKPOOL', 'SWANSEA CITY', 'QUEENS PARK RANGERS', 'CARDIFF CITY',
       'AFC BOURNEMOUTH', 'BRIGHTON & HOVE ALBION', 'HUDDERSFIELD TOWN',
       'BRENTFORD'], dtype=object)

In [36]:
#Padronizando os nomes das equipas para minuscula
dados_classificacao['time'] = dados_classificacao['time'].str.lower() 
dados_classificacao.time.unique()

array(['arsenal', 'chelsea', 'manchester united', 'liverpool',
       'newcastle united', 'aston villa', 'charlton athletic',
       'bolton wanderers', 'fulham', 'birmingham city', 'middlesbrough',
       'southampton', 'portsmouth', 'tottenham hotspur',
       'blackburn rovers', 'manchester city', 'everton', 'leicester city',
       'leeds united', 'wolverhampton wanderers', 'west bromwich albion',
       'crystal palace', 'norwich city', 'west ham united',
       'wigan athletic', 'sunderland', 'reading', 'sheffield united',
       'watford', 'derby county', 'stoke city', 'hull city', 'burnley',
       'blackpool', 'swansea city', 'queens park rangers', 'cardiff city',
       'afc bournemouth', 'brighton & hove albion', 'huddersfield town',
       'brentford'], dtype=object)